.root {

  $paddings: 15px;

  display: flex;
  width: 100%;

  .sidebar {

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #40B87C;

    padding-left: $paddings;
    padding-right: $paddings;
  }


  .hamburger {

    cursor: pointer;
    width: 40px;

    margin-top: 15px;


    .border {

      display: block;

      height: 1px;
      width: 30px;
      background: white;

      margin-bottom: 10px;


      &:last-child {

        margin-bottom: 0px;
      }
    }


    &:hover > .border {

      transition: 0.2s;

      &:nth-child(1) {

        width: 15px;
        height: 2px;
        transform: translateY(7px) translateX(-1px) rotate(140deg);
      }


      &:nth-child(2) {

        height: 2px;
      }

      &:nth-child(3) {
        width: 15px;
        height: 2px;
        transform: translateY(-7px) translateX(-1px) rotate(-140deg);

        margin-bottom: -3px; /* アニメーションの際の調整 */
      }
    }
  }


  .navigation {

    position: sticky;
    top: 0;
  }


  .flexContainer {

    display: grid;
    grid-template-columns: 30px minmax(0, 1fr);
    align-items: center;
    justify-content: center;

  }


  .icon {

    display: block;
    flex-shrink: 0;
    color: white;
    width: 30px;
  }


  .pageName {
    font-size: 14px;
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;


    &:hover {

      background-color: #1B555A;
      margin-right: -$paddings;
      margin-left: -$paddings;

      padding-right: $paddings;
      padding-left: $paddings;
    }
  }


  .mainContent {

    background: #F6F8FA;
    width: 100%;
  }
}
